@model Mnasat.Models.Request

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssigningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssigningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandlingEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandlingEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandledDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
