@model IEnumerable<Mnasat.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlingEmployee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandlingEmployee)
        </td>
        <td>
            @Html.ActionLink("Assign Group", "Assign", new { id=item.RequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestID })
        </td>
    </tr>
}

</table>
